.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  position: sticky;
  padding: 40px 24px;
  background-image: url('/images/fade-right-large.webp');
  min-height: 300px;
}

.hero h1 {
  width: 263px;
  padding: 10px;
  padding-left: 28px;
  padding-right: 28px;
  color: var(--bb-default-dark);
  background-color: var(--light-color);
  box-sizing: border-box;
  border-radius: 1rem;
  z-index: 20;
  position: relative;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
  max-width: 60%;
  left: auto;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero {
    padding: 150px 86px;
    background-image: url('/images/fade-right-large.webp');
    position: sticky;
  }
}

@media (width >= 900px) {
  .hero h1 {
    width: fit-content;
    padding: 10px;
    padding-left: 28px;
    padding-right: 28px;
    color: var(--bb-default-dark);
    background-color: var(--light-color);
    box-sizing: border-box;
    border-radius: 1rem;
    z-index: 20;
    position: relative;
    max-width: 641px;
  }
}